{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  

<!-- Header -->
<div class="header bg-dark pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">{{dominio_tex.nom_Dominio}}</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
              <li class="breadcrumb-item"><a href="#">Self-Assessment</a></li>
              <li class="breadcrumb-item active" aria-current="page">Dominios</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
  <!-- Perguntas -->
  <div class="row">
    <div class="col">
      <form id="meuFormulario" action="{% url 'cadastro_resposta' dominio_tex.id %}" method="POST"> {% csrf_token %}
        {% for respostas in resposta %}
        <div class="card">
          <!-- Card header -->
          <div class="card-body">
            <h5 class="card-title" style="font-size: 1.2rem;">{{ respostas.Pergunta }}</h5>

            <p style="font-size: 0.8rem;">Atual - Meta</p>
            {% for alter in respostas.Alternativas %}
            <div class="row" style="margin-top: 0.8rem;">
              <div class="col-md-12">
                <div class="form-check form-check-inline form-check-lg check-ml">
                  <input class="form-check-input me-1" type="radio"

                    {% for x in respostas.Historico %}

                      {% if x.id_pergunta == respostas.Pergunta %}    

                        {% if x.estado_atual.rating == alter.rating %} checked="checked" {% endif %}    

                      {% endif %}

                    {% endfor %}

                    name="atual-{{ respostas.Pergunta.id }}" value="{{ alter.id }}" aria-label="...">
                </div>
                <div class="form-check form-check-inline form-check-lg check-ml">
                  <input class="form-check-input me-1" type="radio"
                  {% for x in respostas.Historico %}

                    {% if x.id_pergunta == respostas.Pergunta %}    

                      {% if x.estado_desejado.rating == alter.rating %} checked="checked" {% endif %}    

                    {% endif %}

                  {% endfor %}

                  name="desejado-{{ respostas.Pergunta.id }}" value="{{ alter.id }}" aria-label="...">
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label" for="ondeChegar2">{{alter}}</label>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
        <!--
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" style="font-size: 1.2rem;">Pergunta do Formulário</h5>

            <p style="font-size: 0.8rem;">Atual - Meta</p>
            <div class="row" style="margin-top: 0.8rem;">
              <div class="col-md-12">
                <div class="form-check form-check-inline form-check-lg check-ml">
                  <input class="form-check-input" type="radio" name="ondeEsta" id="ondeChegar1" value="opcao1">
                </div>
                <div class="form-check form-check-inline form-check-lg check-ml">
                  <input class="form-check-input" type="radio" name="ondeChegar" id="ondeChegar2" value="opcao2">
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label" for="ondeChegar2">Opção 2</label>
                </div>
              </div>
            </div>

            <div class="row" style="margin-top: 0.8rem;">
              <div class="col-md-12">
                <div class="form-check form-check-inline form-check-lg check-ml">
                  <input class="form-check-input" type="radio" name="ondeEsta" id="ondeChegar1" value="opcao1">
                </div>
                <div class="form-check form-check-inline form-check-lg check-ml">
                  <input class="form-check-input" type="radio" name="ondeChegar" id="ondeChegar2" value="opcao2">
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label" for="ondeChegar2">Opção 2</label>
                </div>
              </div>
            </div>

            <div class="row" style="margin-top: 0.8rem;">
              <div class="col-md-12">
                <div class="form-check form-check-inline form-check-lg check-ml">
                  <input class="form-check-input" type="radio" name="ondeEsta" id="ondeChegar1" value="opcao1">
                </div>
                <div class="form-check form-check-inline form-check-lg check-ml">
                  <input class="form-check-input" type="radio" name="ondeChegar" id="ondeChegar2" value="opcao2">
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label" for="ondeChegar2">Opção 2</label>
                </div>
              </div>
            </div>

            <div class="row" style="margin-top: 0.8rem;">
              <div class="col-md-12">
                <div class="form-check form-check-inline form-check-lg check-ml">
                  <input class="form-check-input" type="radio" name="ondeEsta" id="ondeChegar1" value="opcao1">
                </div>
                <div class="form-check form-check-inline form-check-lg check-ml">
                  <input class="form-check-input" type="radio" name="ondeChegar" id="ondeChegar2" value="opcao2">
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label" for="ondeChegar2">Opção 2</label>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="card">
          <div class="card-body">
            <h5 class="card-title" style="font-size: 1.2rem;">Pergunta do Formulário</h5>

            <p style="font-size: 0.8rem;">Atual - Meta</p>
            <div class="row" style="margin-top: 0.8rem;">
              <div class="col-md-12">
                <div class="form-check form-check-inline form-check-lg check-ml">
                  <input class="form-check-input" type="radio" name="ondeEsta" id="ondeChegar1" value="opcao1">
                </div>
                <div class="form-check form-check-inline form-check-lg check-ml">
                  <input class="form-check-input" type="radio" name="ondeChegar" id="ondeChegar2" value="opcao2">
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label" for="ondeChegar2">Opção 2</label>
                </div>
              </div>
            </div>

            <div class="row" style="margin-top: 0.8rem;">
              <div class="col-md-12">
                <div class="form-check form-check-inline form-check-lg check-ml">
                  <input class="form-check-input" type="radio" name="ondeEsta" id="ondeChegar1" value="opcao1">
                </div>
                <div class="form-check form-check-inline form-check-lg check-ml">
                  <input class="form-check-input" type="radio" name="ondeChegar" id="ondeChegar2" value="opcao2">
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label" for="ondeChegar2">Opção 2</label>
                </div>
              </div>
            </div>

            <div class="row" style="margin-top: 0.8rem;">
              <div class="col-md-12">
                <div class="form-check form-check-inline form-check-lg check-ml">
                  <input class="form-check-input" type="radio" name="ondeEsta" id="ondeChegar1" value="opcao1">
                </div>
                <div class="form-check form-check-inline form-check-lg check-ml">
                  <input class="form-check-input" type="radio" name="ondeChegar" id="ondeChegar2" value="opcao2">
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label" for="ondeChegar2">Opção 2</label>
                </div>
              </div>
            </div>

            <div class="row" style="margin-top: 0.8rem;">
              <div class="col-md-12">
                <div class="form-check form-check-inline form-check-lg check-ml">
                  <input class="form-check-input" type="radio" name="ondeEsta" id="ondeChegar1" value="opcao1">
                </div>
                <div class="form-check form-check-inline form-check-lg check-ml">
                  <input class="form-check-input" type="radio" name="ondeChegar" id="ondeChegar2" value="opcao2">
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label" for="ondeChegar2">Opção 2</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        -->
        <div class="d-flex justify-content-between mt-4">
          <div>
            {% if paginacao.dominio_anterior != -1 %}
            <a id="Anterior_Botao" href="#" type="button" class="btn btn-secondary">Voltar</a>
            <script>
              $(document).ready(function () {
                $('#Anterior_Botao').click(function (e) {
                  e.preventDefault(); // Impede que o link seja seguido imediatamente
            
                  // Envie o formulário usando AJAX
                  $.ajax({
                    url: $('#meuFormulario').attr('action'),
                    method: 'POST',
                    data: $('#meuFormulario').serialize(),
                    success: function (data) {
                      // O formulário foi enviado com sucesso, agora redirecione o usuário
                      window.location.href = '{% url "pergunta_por_dominio" paginacao.dominio_anterior %}';
                    },
                    error: function () {
                      // Lidar com erros, se houver
                      alert('Ocorreu um erro ao enviar o formulário.');
                    }
                  });
                });
              });
            </script>
            {% endif %}
            <a href="/fase/" type="button" class="btn btn-secondary">Fechar</a>
          </div>
          <div>
            <input type="submit" class="btn btn-primary" style="color: white" value="Salvar">
            {% if paginacao.proximo_dominio != -1 %}
            <!--<a id="Proximo_Botao" href="#"><button>{{paginacao.dominio_proximo_nom}}</button></a>-->
            <a id="Proximo_Botao" href="#" type="button" class="btn btn-primary" style="color: white">Próximo</a>
            <script>
              $(document).ready(function () {
                $('#Proximo_Botao').click(function (e) {
                  e.preventDefault(); // Impede que o link seja seguido imediatamente

                  // Envie o formulário usando AJAX
                  $.ajax({
                    url: $('#meuFormulario').attr('action'),
                    method: 'POST',
                    data: $('#meuFormulario').serialize(),
                    success: function (data) {
                      // O formulário foi enviado com sucesso, agora redirecione o usuário
                      window.location.href = '{% url "pergunta_por_dominio" paginacao.proximo_dominio %}';
                    },
                    error: function () {
                      // Lidar com erros, se houver
                      alert('Ocorreu um erro ao enviar o formulário.');
                    }
                  });
                });
              });
            </script>
            {% endif %}
          </div>
        </div>
      </form>
    </div>
  </div>

  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}